{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <figure class="col-sm-12 col-md-3 flex-center">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png">
              </a>
              <figcaption class="center">CD cover and booklet with program notes by <em>Barbara Solís</em></figcaption>
            </figure>
          <div class="col-sm-12 col-md-9 inner-padding">
            <h1 class="red-border">The Mystical Music of Andalucia (audio CD)</h1>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container d-flex justify-content-center my-4">
        <div id="mobile-box" class="media-container row">
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>1. Isaac Albeniz: Cadiz<br>(Suite espanola) (piano solo)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>2. Isaac Albeniz: En la Playa<br>(Recuerdos de Viaje) (viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>3. Isaac Albeniz: Cordoba<br>(Cantos de Espana) (piano solo)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>4. Enrique Granados: Andaluza<br>(Doce danzas espanolas) (viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>5. Isaac Albeniz: Granada<br>(Suite espanola) (piano solo)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>6. Enrique Granados: Cancion arabe<br>(viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>7. Isaac Albeniz: Torre Bermeja<br>(viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>8. Isaac Albeniz: Serenata arabe<br>(viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>9. Isaac Albeniz: Sevilla<br>(Suite espanola) (piano solo)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>10. Joachin Turina: Fiesta de las Calderas<br>(Cinco danzas gitanas) (viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="CD cover and booklet with program notes by Barbara Solís">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solís</h3>
              <p>11. Joachin Nin: El Vito<br>(viola and piano)</p>
              <audio controls id="music" preload="true">
                <source src="https://storage.cloud.google.com/barabra-solis/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      {{- partial "roses/roses.html" . -}}
    </section>
  </div>
</main>

{{ end }}

