{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 offset-lg-1 col-lg-10">
            <h1 class="red-border center">Selected artwork by <em>Barbara Solís</em> and photos</h1>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio 3-Column Grid -->
    <section>
      <div class="container">
        <div id="paris" class="mb-5">
          <!-- <h2 class="text-center mb-3"><em>Barbara Solis</em> Artwork</h2> -->
          <div class="container mb-3 center portfolio-filter">
            <div
              class="btn-group shadow-0 button-group filter-button-group"
              role="group"
              aria-label="portfolio filter"
            >
              <button
                type="button"
                class="btn btn-outline-secondary me-2 active"
                data-filter="*"
                data-mdb-ripple-init
              >
                All
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                data-mdb-color="dark"
                data-filter=".artwork"
                data-mdb-ripple-init
              >
                Artwork
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                data-filter=".photos"
                data-mdb-ripple-init
              >
                Photos
              </button>
            </div>
          </div>

        <div class="lightbox" data-mdb-lightbox-init>
          <div class="row grid">
            <div
              class="col-sm-12 col-md-6 col-lg-4 mb-3 portfolio-container element-item artwork"
            >
              <div class="effect">
                <img
                  src="/img/la-andaluza.jpg"
                  data-mdb-img="/img/la-andaluza.jpg"
                  alt="Lightbox image 1"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div
              class="col-sm-12 col-md-6 col-lg-4 mb-3 portfolio-container element-item artwork"
            >
              <div class="effect">
                <img
                  src="/img/carnation.jpg"
                  data-mdb-img="/img/carnation.jpg"
                  alt="Lightbox image 1"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{- partial "intro/intro.html" . -}}
  </div>
</main>

{{ end }}

