{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 offset-lg-1 col-lg-10">
            <h1 class="red-border">Selected artwork by <em>Barbara Solís</em> and photos</h1>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio 3-Column Grid -->
    <section>
      <div class="container">
        <div id="paris" class="mb-5">
          <h2 class="text-center mb-3"><em>Barbara Solis</em> Artwork</h2>
          <div class="container mb-3 center portfolio-filter">
            <div
              class="btn-group shadow-0 button-group filter-button-group"
              role="group"
              aria-label="portfolio filter"
            >
              <button
                type="button"
                class="btn btn-outline-secondary me-2 active"
                data-filter="*"
                data-mdb-ripple-init
              >
                All
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                data-mdb-color="dark"
                data-filter=".watercolour"
                data-mdb-ripple-init
              >
                Watercolour
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                data-filter=".acrylic"
                data-mdb-ripple-init
              >
                Acrylic
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                data-filter=".pen-ink"
                data-mdb-ripple-init
              >
                Pen and Ink
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary me-2"
                data-filter=".illustration"
                data-mdb-ripple-init
              >
                Illustration
              </button>
              <button
                type="button"
                class="btn btn-outline-secondary"
                data-filter=".photography"
                data-mdb-ripple-init
              >
                Photography
              </button>
            </div>
          </div>

        <div class="lightbox" data-mdb-lightbox-init>
          <div class="row grid">
            <div
              class="col-md-4 mb-3 portfolio-container element-item watercolour"
            >
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(53).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(53).jpg"
                  alt="Lightbox image 1"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div
              class="col-md-4 mb-3 portfolio-container element-item watercolour"
            >
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(53).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(53).jpg"
                  alt="Lightbox image 2"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div class="col-md-4 mb-3 portfolio-container element-item acrylic">
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(59).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(59).jpg"
                  alt="Lightbox image 3"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div class="col-md-4 mb-3 portfolio-container element-item acrylic">
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(59).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(59).jpg"
                  alt="Lightbox image 4"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div class="col-md-4 mb-3 portfolio-container element-item pen-ink">
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(60).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(60).jpg"
                  alt="Lightbox image 5"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div class="col-md-4 mb-3 portfolio-container element-item pen-ink">
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(56).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(56).jpg"
                  alt="Lightbox image 6"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div
              class="col-md-4 mb-3 portfolio-container element-item illustration"
            >
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(57).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(57).jpg"
                  alt="Lightbox image 7"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div
              class="col-md-4 mb-3 portfolio-container element-item illustration"
            >
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(58).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(58).jpg"
                  alt="Lightbox image 8"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
            <div
              class="col-md-4 mb-3 portfolio-container element-item photography"
            >
              <div class="effect">
                <img
                  src="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(54).jpg"
                  data-mdb-img="https://mdbootstrap.com/img/Photos/Horizontal/City/12-col/img%20(54).jpg"
                  alt="Lightbox image 9"
                  class="w-100 shadow-1-strong rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{- partial "intro/intro.html" . -}}
  </div>
</main>

{{ end }}

