{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h1 class="red-border">Concert programmes and related materials</h1>
            {{ .Content }}
            <h2>Concert materials by date</h2>
            <ul>
              <li>[no date] Recital program - Albeniz, Granados, Turina</li>
              <li>[no year], Apr 2 - Buchanan Hall, Alberta College Music Centre</li>
              <li>1978, Oct 31 - University of Southern California</li>
              <li>1996, May 24 - B.Mus. recital at University of Ottawa</li>
              <li>1997, Oct 26 - An Evening in Old Madrid, First Unitarian Congregation</li>
              <li>1998, Jun 6 - Musical Arts Club of Ottawa, First Unitarian Congregation</li>
              <li>1998, Nov 22 - A Visit to Spain, St. Luke’s</li>
              <li>1999, May 30 - The Music of Spain, Gloucester City Hall</li>
              <li>1999, Oct 24 - An Evening in Old Madrid - St. Luke’s</li>
              <li>2000, Nov 5 - The Exotic Music of Spain, First Unitarian Congregation</li>
              <li>2001, May 6 - Arabian Nights in Spain, St. Luke’s</li>
              <li>2001, Oct 27 - Musical Arts Club of Ottawa, First Unitarian Congregation</li>
              <li>2002, May 5 - Mystical Music of Andalucia, St. Luke’s</li>
              <li>2002, Oct 20 - In the Caves of Sacromonte, St. Luke’s</li>
              <li>2003, Oct 25 - Mystical Music of Andalucia, First Unitarian Congregation</li>
              <li>2004, May 2 - The Romantic Music of Spain, St. Luke’s</li>
              <li>2005, Oct 2 - Echoes from the Past, St. Luke’s</li>
              <li>2006, Nov 4 - A Magical Evening in Andalucia (includes El Amor Brujo)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}