{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h1 class="red-border">Andalucia: The Culture of Death (book manuscript)</h1>
            <p>Over the years, Barbara Solís distilled her research into a manuscript for a book, Andalucia: The Culture of Death.</p>
            <p>Ms. Solís’s book manuscript available here is the most recent version held in her papers. Also provided are her related handwritten research notes.</p>
            <h2>Book manuscript and notes</h2>
            <ul>
              <li>Andalucia - The Culture of Death (typed book manuscript, 258 pp.)</li>
              <li>Andalucia - The Culture of Death (additional notes, handwritten, 394 pp.)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}