{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9">
            <h1 class="red-border mb-1">Eulogy for Barbara Solís</h1>
            <h3 class="mb-2">Eulogy given at memorial service at St. Luke’s Anglican Church,<br>760 Somerset St. West, Ottawa, Canada</h3>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}
