{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h1 class="red-border">“The Barbara Solís Method of Teaching”</h1>
            {{ .Content }}
            <p>In the 1950s, Saskatchewan-born pianist <a href="#">Douglas Voice</a> became a pupil of Mr. Gustin and subsequently taught as Mr. Gustin’s assistant. Douglas Voice settled in Ottawa in 1966 and became a founding member of the music department at the University of Ottawa in 1969. He was a principal teacher of Ms. Solís in the 1990s during her university studies, and he had a deep influence on her because of his extensive knowledge of Spanish music. After Douglas Voice’s death in 1998 at the age of 61, all of Ms. Solís’s concert programs featured a prominent dedication to him.</p>
            <h2>Piano-teaching items</h2>
            <ul>
              <li>The Barbara Solís Method of Teaching (complete manuscript)</li>
              <li>The Barbara Solís Method of Teaching (manuscript with annotations)</li>
              <li>Handwritten notes on piano teaching</li>
              <li>Short piano pieces for teaching</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}