{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h1 class="red-border">“The Barbara Solís Method of Teaching”</h1>
            {{ .Content }}
            <h2>Piano-teaching items</h2>
            <ul>
              <li>The Barbara Solís Method of Teaching (complete manuscript)</li>
              <li>The Barbara Solís Method of Teaching (manuscript with annotations)</li>
              <li>Handwritten notes on piano teaching</li>
              <li>Short piano pieces for teaching</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}