{{ define "main" }}
  
<main>
  <div class="main">
    
    <section class="biography">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a class="col-sm-12 col-lg-4 float-start margin-sketch-right margin-bottom bottom-red-border" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img class="img-fluid" src="/img/barbara-solis.jpg">
            </a>
            <div class="red-border-biography">
              <h1>Musical arrangements by <em>Barbara Solís</em></h1>
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p>Starting in the 1990s, Ms. Solís studied music arranging with composer Steven Gellman at the University of Ottawa. Their association was uniquely productive and collaborative, with Professor Gellman and his wife, Cheryl Gellman, a professional visual artist, providing tangible support to several of Ms. Solís’s concert presentations in Ottawa.</p>
            <p>Many of the files listed below reproduce the manuscript scores that Barbara Solís used in concert. Ms. Solís wrote her arrangements in pencil, and they remain legible, accurate and usable for performance.</p>
            <p>Seven of Ms. Solís’s arrangements for piano with viola listed below (indicated by *) can be heard on the CD <a href="/andalucia">The Mystical Music of Andalucia</a>
            <p>Readers are welcome to download copies of Barbara Solís’s musical arrangements and present them in performance.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container d-flex justify-content-center my-4">
        <div id="mobile-box" class="media-container row">
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="A portrait photograph of Barbara Solis">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solis</h3>
              <p>Classical Music 1</p>
              <audio controls id="music" preload="true">
                <source src="/src/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="A portrait photograph of Barbara Solis">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solis</h3>
              <p>Classical Music 2</p>
              <audio controls id="music" preload="true">
                <source src="/src/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="A portrait photograph of Barbara Solis">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solis</h3>
              <p>Classical Music 3</p>
              <audio controls id="music" preload="true">
                <source src="/src/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="A portrait photograph of Barbara Solis">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solis</h3>
              <p>Classical Music 4</p>
              <audio controls id="music" preload="true">
                <source src="/src/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="A portrait photograph of Barbara Solis">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solis</h3>
              <p>Classical Music 5</p>
              <audio controls id="music" preload="true">
                <source src="/src/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
          <!-- Card -->
          <div class="card media-player col-sm-12 col-md-6 col-lg-4">
            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <a data-mdb-ripple-init data-mdb-ripple-color="light">
                <img class="img-fluid" src="/img/andalucia.png" alt="A portrait photograph of Barbara Solis">
              </a>
            </div>
            <div class="card-body text-center">
              <h3>Barbara Solis</h3>
              <p>Classical Music 6</p>
              <audio controls id="music" preload="true">
                <source src="/src/lofi.mp3" type="audio/mpeg">
              </audio>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h2>Isaac Albeniz</h2>
        <ul>
          <li><a href="#">Danza oriental</a> (arranged for dancer with finger cymbals accompanied by solo viola)</li>
          <li><a href="#">En la Alhambra</a> (arranged for piano with viola)</li>
          <li><a href="#">En la Playa</a> (arranged for piano with viola)*</li>
          <li><a href="#">Granada</a> (arranged for two pianos)</li>
          <li><a href="#">Serenata Andaluza</a> (arranged for piano with viola)</li>
          <li><a href="#">Serenata Arabe</a> (arranged for piano with viola)*</li>

          <li><a href="#">Tango</a> (two versions: one arranged for piano with viola and another for solo viola)</li>
          <li><a href="#">Torre Bermeja</a> (arranged for piano with viola)*</li>
          <li><a href="#">Zambra Granadina</a> (two versions: dancer with finger cymbals and solo viola, and dancer with flute, viola and finger cymbals)</li>
        </ul>

        <h2>Manuel de Falla</h2>
        <ul>
          <li><a href="#">El Amor Brujo</a> (arranged for two pianos, voice and viola)</li>
          <li><a href="#">Serenata Andaluza</a> (arranged for piano with viola)</li>
        </ul>

        <h2>Enrique Granados</h2>
        <ul>
          <li><a href="#">Andaluza</a> (arranged for voice, viola and piano)</li>
          <li><a href="#">El Galente< (Spanish Dance No. 1)</a> (arranged for piano with viola)</li>
          <li><a href="#">Cancion Arabe</a> (arranged for piano with viola)*</li>
          <li><a href="#">La Maya Dolorosa</a> (arranged for piano with viola)</li>
          <li><a href="#">La Maya y el Ruisenor</a> (The Maiden and the Nightingale) (arranged for piano with viola)</li>
          <li><a href="#">Las Curratacas Modestas</a> (Tonadilla a dos voces) (arranged for piano with viola)</li>

          <li><a href="#">Melancolico (No. 10)</a> (arranged for piano with viola)</li>
          <li><a href="#">Orientale</a> (arranged for piano with viola)</li>
          <li><a href="#">Playera (No.5) Andaluza</a> (arranged for dancer with tambourine accompanied by solo viola)*</li>
          <li><a href="#">Spanish Dance No.9: Romantica</a> (arranged for piano with viola)</li>
          <li><a href="#">Valses Poeticos</a> (arranged for piano with viola)</li>
          <li><a href="#">Zapateado</a> (arranged for piano with viola)</li>
        </ul>

        <h2>Federico Mompou</h2>
        <ul>
          <li><a href="#">Cancion y Danza V</a> (arranged for piano with viola)</li>
          <li><a href="#">Cancion y Danza VI</a> (arranged for piano with viola)</li>
          <li><a href="#">Cancion y Danza IX</a> (arranged for piano with viola)</li>
          <li><a href="#">Cancion y Danza X</a> (arranged for piano with viola)</li>
        </ul>

        <h2>Joaquin Nin</h2>
        <ul>
          <li><a href="#">El Vito</a> (arranged for piano with viola)*</li>
        </ul>

        <h2>Joaquin Turina</h2>
        <ul>
          <li><a href="#">Fiesta de las Calderas</a> (arranged for piano with viola)*</li>
          <li><a href="#">Tres Danzas Andaluzia (Tango)</a> (arranged for piano with viola)</li>
        </ul>

        <h2>Other</h2>
        <ul>
          <li>Exercises in composition and arranging by Barbara Solís</li>
        </ul>

        {{- partial "roses/roses.html" . -}}
      </div>
    </section>
  </div>
</main>

{{ end }}