{{ define "main" }}
  
<main>
  <div class="main">
    
    <!-- <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a class="col-sm-12 col-lg-4 float-start margin-sketch-right margin-bottom bottom-red-border" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img class="img-fluid" src="/img/barbara-solis.jpg">
            </a>
            <div class="red-border-biography">
              <h1>Musical arrangements by <em>Barbara Solís</em></h1>
              <p>This section contains manuscript scores of works from the Spanish classical repertoire arranged by Barbara Solís, most for piano with viola.</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10 red-border-biography">
            <h1>Musical arrangements by <em>Barbara Solís</em></h1>
            {{ .Content }}
          </div>
        </div>
      </div>
      {{- partial "roses/roses.html" . -}}
    </section>
  </div>
</main>

{{ end }}