{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-9">
            <h1 class="red-border">Notes for lecture-recitals, workshops and concert programs</h1>
            {{ .Content }}
            <h2>Notes by topic</h2>
            <ul>
              <li>Dance workshop and classes</li>
              <li>Echoes of the Past dance workshop, May 24, 2003</li>
              <li>Lecture I - Arabian Melodic Influence on the Sound of Spanish Music, rough notes and examples of music</li>
              <li>Master's Thesis and Lecture Performance Material (rough drafts only)</li>
              <li>Oak Park Seniors Presentation, June 2009</li>
              <li>Soirée, October 24, 2009</li>
              <li>Various topics</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}