{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <figure class="col-sm-12 col-lg-4 flex-center">
            <a data-mdb-ripple-init data-mdb-ripple-color="light">
              <img class="img-fluid" src="/img/portrait.png">
            </a>
          </figure>
          <div class="col-sm-12 col-lg-7">
            <h1 class="red-border mb-1">Portrait of <em>Barbara Solís</em></h1>
            <h3 class="mt-0 mb-3">by Cheryl Gellman</h3>
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}