{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h1 class="red-border">Research papers by Barbara Solís</h1>
            <p>Barbara Solís undertook Bachelor of Music studies at the University of Ottawa, graduating in 1996. During this time, she also studied aspects of Arabic culture.</p>
            <p>Most of the files listed below link to Ms. Solís’s academic papers written during this period.</p>
            <p>Some of Ms. Solís’s academic papers include her decorations in ink inspired by her time in Spain in the 1970s. In one of her papers (1990 - La Musica Espanol del Sigio XIX), she explained that her “artwork has… been extracted from the memories I hold from studying countless balconies, cathedrals and anything which pertained to 19th century Spain. It therefore is not meaningless scribble but has significance.”</p>
            <p>Examples of Ms. Solís’s decorations in ink appear throughout this website.</p>
            <h2>Research papers by date</h2>
            <ul>
              <li>[no date] Ravel’s Habanera</li>
              <li>[no date] The Mystical Music of Andalucia - paper</li>
              <li>[no date] The Mystical Music of Andalucia (27 pp) - Book outline</li>
              <li>[no date] The Spanish Sonatas of Domenico Scarlatti</li>
              <li>1989 - The Music of the Middle Ages</li>
              <li>1990 - La Musica Espanol del Sigio XIX</li>
              <li>1990 - The Dancing Spaniards</li>
              <li>1991 - La Musica Antigua de Andalucia</li>
              <li>1993 - El Sonido LeJano</li>
              <li>1993 - Four Papers on Arabic Culture</li>
              <li>1993 - La Musica de los Arabes en Espagne</li>
              <li>1995 - La Musica de los Arabes en Espagne - Ziryab</li>
              <li>1996 - The Great Schism in Islam</li>
              <li>1996 - The Life and Works of Najib Mahfouz</li>
              <li>1996 - The Serpent of the Nile</li>
              <li>1997 - Poets and Poetry in Spain During the Abbasid Period</li>
              <li>1997 - The Music and Love Poetry of Al-Andaluz</li>
              <li>1997 - The Music and the Love Story of Al-Andaluz</li>
              <li>1997 - The Poetry of the Pagan Arabs</li>
              <li>2001 - Manuel de Falla</li>
              <li>2001 - The Mystical Music of Andalucia (58 pp)</li>
              <li>2001 - The Mystical Music of Andalucia (46 pp)</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}