{{ define "main" }}
  
<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-10">
            <h1 class="red-border">Research notes by Barbara Solís</h1>
            {{ .Content }}
            <h2>Research notes by topic</h2>
            <ul>
              <li>Arabian thesis paper - Research notes</li>
              <li>Dance - Research notes</li>
              <li>Guitar, Pottery, Prehistoric Religion, History of Spanish Music and Civilization - Research notes</li>
              <li>Literature review - Research notes</li>
              <li>Lorca - Research notes</li>
              <li>Music in Egypt, Arab peoples, Spain, papers - Research notes</li>
              <li>Research notes - various topics</li>
              <li>Shephardic Heritage - Dance - Sea People, Aegeans, Oriental Influence - Research notes</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>

{{ end }}