{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a class="col-sm-12 col-lg-4 float-start margin-sketch-right margin-bottom bottom-red-border" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img class="img-fluid" src="/img/barbara-solis.jpg">
            </a>
            <div class="red-border-biography">
              <h1>The Music and Research Archives of<br><em>Barbara Solís</em> <span class="date">(1931-2010)</span></h1>
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    {{- partial "intro/intro.html" . -}}
  </div>
</main>

{{ end }}