<footer>
  <section class="footer">
    <div class="container">
      <div class="row">
        <ul class="col-sm-12 col-md-4">
          <li><a href="index.html">Home</a></li>
          <li><a href="biography.html">Biography</a></li>
          <li><a href="andalucia.html">The Mystical Music of Andalucia</a></li>
          <li><a href="musical-arrangements.html">Musical Arrangements</a></li>
          <li><a href="concert-programmes.html">Concert Programmes</a></li>
        </ul>

        <ul class="col-sm-12 col-md-4">
          <li><a href="research-papers.html">Research Papers</a></li>
          <li><a href="research-notes.html">Research Notes</a></li>
          <li><a href="culture-of-death.html">Andalucia: The Culture of Death</a></li>
          <li><a href="method-of-teaching.html">The Barbara Solís Method of Teaching</a></li>
          <li><a href="notes-lecture-recitals.html">Notes For Lecture-Recitals Workshops</a></li>
        </ul>

        <ul class="col-sm-12 col-md-4">
          <li><a href="portrait.html">Oil portrait</a></li>
          <li><a href="artwork.html">Selected artwork</a></li>
          <li><a href="photos.html">Selected photos</a></li>
          <li><a href="eulogy.html">Eulogy</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container">
    <p class="row center">© All Right Reserved 2024 The Music and Research Archives of Barbara Solís (1931–2010)</p>
  </section>
</footer>
<!-- End your project here-->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- MDB ESSENTIAL -->
<script type="text/javascript" src="./js/mdb.umd.min.js"></script>
<!-- MDB PLUGINS -->
<script type="text/javascript" src="./plugins/js/all.min.js"></script>
<!-- JS scripts -->
<script type="text/javascript" src="./js/isotope.pkgd.min.js"></script>
<script type="text/javascript" src="./js/packery-mode.pkgd.min.js"></script>
<script type="text/javascript" src="./js/imagesloaded.pkgd.min.js"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="./js/script.js"></script>