{{ define "main" }}

<main>
  <div class="main">
    <section class="main-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <a class="col-sm-12 col-lg-4 float-start margin-sketch-right margin-bottom bottom-red-border" data-mdb-ripple-init data-mdb-ripple-color="light">
              <img class="img-fluid" src="img/barbara-solis.jpg">
            </a>
            <div class="red-border-biography">
              <h1>The Music and Research Archives of<br><em>Barbara Solís</em> <span class="date">(1931-2010)</span></h1>
              <p>Barbara Solís was a Canadian pianist who undertook a lifelong study of Spanish classical music. She was a recitalist, music teacher, researcher, lecturer, dancer and visual artist.</p>
              <p>This website makes available the archival material in Ms. Solís’s papers. These materials include her research into aspects of Spanish classical music and Spain’s cultural history. Her research also explores eras of the remote past.</p>
              <p>The site comprises the following sections, with content available through the links in the menu at the left.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{- partial "intro/intro.html" . -}}
  </div>
</main>

{{ end }}